[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/Auto-Pairs"]
	path = bundle/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
